# Prefix
prefix=/Users/danieldafoe/.npm-packages

# Registry
registry=https://registry.npmjs.org/

# Init defaults
init.license=MIT
init.author.name=Daniel Dafoe
init.author.email=dannydafoe@gmail.com
